<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header"/>
<body style="background: url(/images/bg.jpg) no-repeat center center fixed;height: 100%">
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4" style="margin-top: 20%;">
                <div class="login-wrap p-0">
                    <form th:action="@{/doRegister}" method="get" th:object="${user}">
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="Username" th:field="*{username}">
                        </div>
                        <div class="form-group">
                            <input id="password" name="password" type="password" class="form-control"
                                   placeholder="Password" th:field="*{password}">
                        </div>
                        <div class="form-group">
                            <input id="re-password" name="re-password" type="password" class="form-control" th:field="*{repass}"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>